:root {
    --color-accent: #97cc97;
    --color-light: #f5fcfd;
    --color-medium: #e0eaeb;
    --color-dark: #0f3532;

    --border-radius: 1em;

    --padding-page: 2rem 3rem;
    --padding-content: 2rem 1.5rem;

    box-sizing: border-box;
    color: var(--color-dark);
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;

    display: grid;
    grid-template-areas: "sidebar header"
        "sidebar main";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr;
    align-items: stretch;
}

ul,
li {
    list-style: none;
}

p {
    font-family: 'Space Mono', monospace;
    line-height: 1.25;
    max-inline-size: 66ch;
    text-wrap: balance;
}

h1,
h2,
h3,
h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}

a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}

img.icon.placeholder {
    width: 4em;
    height: 4em;

    background: var(--color-dark);
    border-radius: 50%;
}

/* Sidebar */

aside {
    grid-area: sidebar;
    padding: var(--padding-page);

    background-color: var(--color-accent);
    color: var(--color-bright);
    font-weight: bold;
}

nav {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 1.5em;
    color: var(--color-dark);

    & .page-title {
        margin: 0;
        font-size: 2.5em;
    }

    & .spacer {
        grid-column: span 2;
        margin: 1em 0;
    }

    & .icon {
        justify-self: center;
    }

    & a.nav-link:link,
    a.nav-link:visited {
        font-size: 1.25rem;
        text-decoration: none;
    }
}

/* Header */

header {
    grid-area: header;
    padding: var(--padding-page);

    display: grid;
    grid-template-areas: "searchbar settings"
        "greeting actions";
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 2em;

    background-color: var(--color-light);
    color: var(--color-dark);
}

header #searchbar {
    grid-area: searchbar;
    display: inline-flex;
    align-items: center;

    &::before {
        display: block;
        content: "";
        margin-right: 1.25em;

        background: url(media/search.svg) no-repeat;
        background-size: contain;
        width: 1.5em;
        height: 1.5em;
    }

    & input[type="search"] {
        width: min(400px, 100%);
        padding: 0 1em;

        background-color: var(--color-medium);
        border-radius: 52px;
        border: none;
        color: var(--color-dark);
        font-family: inherit;
        font-size: inherit;
        line-height: 2;
    }
}

header #user-settings {
    grid-area: settings;
    justify-self: end;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: 1fr;
    align-items: center;
    gap: 2em;
}

header .user-profile {
    display: flex;
    align-items: center;
    gap: 1.5em;

    & > .icon {
        width: 3em;
        height: 3em;
    }
}

header #user-greeting {
    grid-area: greeting;

    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1em;

    & .greeting-name::before {
        display: block;
        content: "Hi there, ";

        font-family: 'Space Mono', monospace;
        font-size: 1rem;
        line-height: 1;
    }

    & .icon {
        width: 6em;
        height: 6em;
    }
}

header #user-actions {
    grid-area: actions;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2em;

    & a:link,
    a:visited {
        display: block;
        padding: 0.5em 0.75em;

        background-color: var(--color-accent);
        border-radius: 52px;
        font-weight: 800;
        text-align: center;
    }
}

/* Content */

main {
    grid-area: main;
    padding: var(--padding-page);

    display: grid;
    grid-template-areas: "projects announcements" "projects trends";
    grid-template-rows: repeat(2, max-content);
    grid-template-columns: 3fr 1fr;
    gap: 3em;

    background-color: var(--color-medium);
    box-shadow: 0 2px 10px inset rgba(0, 0, 0, 0.15);
}

section {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr;


    &>.sec-title {
        grid-column: 1 / -1;
        margin-left: 0.5em;
        margin-bottom: 0.75em;
    }

    &>.sec-content {
        grid-column: 1 / -1;
        display: grid;
    }
}

section#projects {
    grid-area: projects;

    &>.sec-content {
        grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
        grid-auto-rows: max-content;
        gap: 2em;
    }

    & .project-card {
        padding: var(--padding-content);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    & .actions {
        margin-top: 2em;
        align-self: end;
        justify-self: end;

        display: grid;
        grid-template-columns: repeat(3, max-content);
        gap: 1em;
    }
}

section#announcements {
    grid-area: announcements;

    &>.sec-content {
        padding: var(--padding-content);

        grid-template-rows: repeat(3, max-content);
        grid-template-columns: 1fr;
    }

    & .separator {
        grid-column: 1 / -1;
        align-self: center;
        height: 1px;
        margin: 1em 0;
        background-color: var(--color-medium);
    }
}

section#trending {
    grid-area: trends;

    &>.sec-content {
        padding: var(--padding-content);

        grid-template-rows: repeat(4, max-content);
        grid-template-columns: 1fr;
        gap: 1.5em;
    }

    & .user-card a {
        display: grid;
        grid-template-columns: min-content 1fr;
        grid-template-rows: repeat(2, min-content);
        align-items: center;
    }

    & .user-card .icon {
        grid-area: 1 / 1 / -1 / 2;
        margin-right: 1em;
    }

    & .user-name {
        grid-area: 1 / 2 / 2 / -1;
        align-self: end;

        font-weight: bold;
    }

    & .user-project {
        grid-area: 2 / 2 / 3 / -1;
        align-self: start;

        color: var(--color-dark);
        font-family: 'Space Mono', monospace;
    }
}

section:not(#projects) .sec-content, section#projects .project-card {
    background-color: var(--color-light);
    border-radius: var(--border-radius);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

/* Utility */

.side-content {
    justify-self: end;
    width: min(100%, 520px);
}